.services_cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.under_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
